<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">New Game</span>
</nav>


<div class="your-score">
    <%= @score %>
</div>

<br>
<%= link_to "Play again", new_path %>


